<nav class="navbar navbar-dark bg-primary mb-5">
  <a class="navbar-brand" routerLink="/">Real-time Audio Analysis</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" id="header_home" routerLink="/">Home</a>
      <a class="nav-item nav-link" id="header_about" routerLink="/about">About</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/qlemaire22" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>
